.Home {
  width: 100vw;
  height: 100vh;

  .btn-wrap {
    display: flex;
    height: 50px;
    align-items: center;
    .button {
      flex: 1;
      height: 49px;
      font-size: 14px;
      text-align: center;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
      span {
        margin-top: 3px;
      }
    }
    .changeBtn {
      color: #68a0e9;
    }
  }
  .num-box-wrap {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    .num-box {
      width: calc((100% - 15px) / 4);
      height: calc((100vw - 35px) / 4);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      overflow: hidden;
      .box-center {
        font-size: 21px;
        p {
          font-size: 21px;
        }
        p.center-bottom {
          font-size: 12px;
        }
      }
      .box-title {
        font-size: 14px;
        line-height: 30px;
      }
      .box-tip {
        font-size: 12px;
        line-height: 21px;
        background-color: rgba(0, 0,0, 0.2);
      }
      .num {
        font-size: 18px;
        margin-top: 4px;
      }
      .text {
        font-size: 12px;
      }
    }
    .blue {
      background-color: #0068F9;
    }
    .green {
      background-color: #00AA98;
    }
    .red {
      background-color: #D0021B;
    }
    .purple {
      background-color: #9013FE;
    }
    .span-01 {
      width: calc(100% / 3.1);
      height: calc(100vw / 6.75);
      display: flex;
      justify-content: center;
    }
    .span-02 {
      width: calc(100% / 5);
      height: calc(100vw / 6.75);
      display: flex;
      justify-content: center;
    }
    .span-03 {
      width: calc((100% - 15px) / 4);
      height: calc(100vw / 6.75);
      display: flex;
      justify-content: center;
    }
  }

  .pie-box {
    flex: 1;
    border-top: 1px solid #EAEAEA;
    padding: 6px 0 20px 8px;
  }
  .pie-box:last-child{
    border-left: 1px solid #EAEAEA;
  }
  .num-bar {
    display: flex;
    line-height: 54px;
    div {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin: 0 6px;
      }
      .text-span {
        color: #333;
        font-size: 14px;
      }
      .num-span {
        color: #0068F9;
        font-size: 21px;
      }
    }
  }
  .personnel-pie-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    .personnel-pie {
      padding: 0 20px;
      position: relative;
      .pie-center-num {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .pie-center-num-top {
          font-size: 20px;
        }
        .proportion {
          font-size: 12px;
        }
        .pie-center-text {
          font-size: 13px;
          color: #333;
          margin-top: 10px;
        }
      }
    }
  }
}
