.PieChart {
    display: flex;
    align-items: center;
    .pie-list-wrap {
        margin-left: 12px;
        .list-item {
            display: flex;
            height: 30px;
            align-items: center;
            color: #333;
            i {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background-color: red;
            }
            .list-item-name {
                min-width: 54px;
                font-size: 12px;
                margin-left: 8px;
            }
            .list-item-num {
                color: #0068F9;
            }
        }
    }
    .pie-list-wrap-flex{
        width: calc(100% - 20px);
        display: flex;
        flex-wrap: wrap; 
        .list-item {
            width: (100% / 2);
            box-sizing: border-box;
            padding-left: 40px;
            .list-item-name {
                font-size: 14px;
                margin-right: 12px;
                
            }
            .list-item-num {
                color: #0068F9;
            }
        }
    }
}