#datahub-admin-console{
  height:100%;
}
#datahub-admin-console-body {
  height: 100%;

  .danger {
    color: #ff4d4f;

    &:hover {
      color: #ff4d4f;
    }
  }

  .steps-content {
    padding: 20px 10px;
  }


  .gdc-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .ant-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #f0f2f5;
    /* fix firefox can't set height smaller than content on flex item */
    // min-height: 100vh;
  }

  .ant-layout,
  .ant-layout * {
    box-sizing: border-box;
  }

  .ant-layout.ant-layout-has-sider {
    flex-direction: row;
  }

  .ant-layout.ant-layout-has-sider>.ant-layout,
  .ant-layout.ant-layout-has-sider>.ant-layout-content {
    overflow-x: hidden;
  }

  .ant-layout-header,
  .ant-layout-footer {
    flex: 0 0 auto;
  }

  .ant-layout-header {
    background: #001528;
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
  }

  .ant-layout-footer {
    background: #f0f2f5;
    padding: 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }

  .ant-layout-content {
    flex: auto;
    background: #EAEAEE;
    /* fix firefox can't set height smaller than content on flex item */
    min-height: 0;
  }

  .ant-layout-sider {
    transition: all 0.2s;
    position: relative;
    background: #001529;
    /* fix firefox can't set width smaller than content on flex item */
    min-width: 0;
  }

  .ant-layout-sider-children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
  }

  .ant-layout-sider-has-trigger {
    padding-bottom: 48px;
  }

  .ant-layout-sider-right {
    order: 1;
  }

  .ant-layout-sider-trigger {
    position: fixed;
    text-align: center;
    bottom: 0;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #002140;
    z-index: 1;
    transition: all 0.2s;
  }

  .ant-notification-notice-with-icon .ant-notification-notice-description {
    word-break: break-word;
  }

  .ant-form-item-label>label::after {
    content: ':';
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 4px;
  }

  .ant-form-item-no-colon::after {
    display: none;
  }

  .ant-form-item label i {
    color: Red;
  }

  .content-wrapper {
    background: #fff;
    padding: 0px 15px;
  }


  .breadcrumb {
    /* margin: 20px 0px; */
    color: rgba(0, 0, 0, 0.65);
  }

  .ant-breadcrumb {
    /* font-size: 12px; */
    line-height: 22px;
  }

  .ant-table-wrapper {
    margin-top: 8px;
  }

  .ant-table {
    color: #555555;
  }

  /* table 宽高间距*/
  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 5px 20px !important;
    height: 44px;

    .ant-checkbox-wrapper {
      padding: 2px 4px;
    }
  }

  .ant-table-bordered .ant-table-thead>tr>th,
  .ant-table-bordered .ant-table-tbody>tr>td {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    ;
  }

  .ant-table-thead>tr>th {
    background: rgba(244, 244, 244, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ant-table-tbody>tr>td {
    background-color: #fff;
  }

  tr.highLight {
    background-color: rgba($color: #5C9CEC, $alpha: 0.3) !important;
  }

  .ant-table-tbody>tr>td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ;
  }

  .ant-table-pagination.ant-pagination {
    float: none;
    text-align: right;
  }

  tr.ant-table-expanded-row td>.ant-table-wrapper {
    margin: 4px 0;
  }

  /* .ant-pagination-item-active {
  border-color: none;
} */

  h2.part-title {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    text-align: left;
    height: 24px;
    line-height: 24px;
  }

  .info-wrapper {
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #dde3e7;
    padding: 15px;
    color: rgba(0, 0, 0, 0.65);

  }

  .info-wrapper i {
    font-style: normal;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
  }

  .info-wrapper.border-none {
    border-width: 0px;
  }

  .ant-modal-header {
    padding: 9px 16px;
  }

  .ant-modal-close .ant-modal-close-x {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .ant-modal-footer {
    border-top: none;
    padding-bottom: 24px;
    padding-right: 24px;
  }

  .ant-notification-notice-message {
    word-break: break-all;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 12px;
    margin-right: 12px;
  }

  // .ant-notification{
  //   z-index: 99999 !important;
  // }
  // .ant-form-item-label>label::after {
  //   content: "" !important;
  // }


  // .ant-tabs-tab{
  //   padding:4px 8px !important;
  // }




  .btn-default {
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.65);

    &:hover,
    &:active {
      border-color: #fff;
      color: rgba(255, 255, 255, 1);
    }
  }


}